/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
	margin: 0;
	padding: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

.theme-toggle {
	border-style: solid;
    border-width: 0.5px;
    border-color: black;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    background-color: #000000;
    color: #ffffff;

}
.theme-toggle:hover {
	opacity: 0.8;
}
.theme-toggle:active {
	opacity: 0.4;
}

/* Dark Theme */
body.dark {
	background-color: #252525;
	color: #f5f5f5;
}

body.dark .theme-toggle {
	background-color: #ffffff;
	color: #000000;
}
